@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
  }

  .using-mouse * {
    outline: none !important;
  }
}

/* -- my styles ------------------------------------------------------- */

.page {
  @apply p-4 max-w-6xl mx-auto;
}

.page__title {
  @apply text-5xl font-bold mb-3 text-center;
}

.page__subtitle {
  @apply mb-4 text-center;
}

.page__info {
  @apply flex w-fit text-yellow-500 text-lg mb-4 mx-auto px-2 py-2 rounded-lg text-center ;
}

.categories__wrapper {
  @apply flex flex-col gap-y-12 max-w-7xl
}

.cards__wrapper {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6
}

.card {
  @apply bg-white flex flex-col rounded-lg shadow-md p-6 border border-gray-200 hover:shadow-lg transition-shadow;
}

.card__top {
  @apply flex justify-between items-start mb-3;
}

.card__title {
  @apply text-xl font-semibold text-gray-800 leading-tight;
}

.card__label {
  background-color: rgb(209, 238, 209);
  min-width: 105px;
  color: green;
  font-weight: 300;
  font-size: 12px;
  white-space: nowrap;
  padding: 3px 8px;
  border-radius: 12px;
}

.card__label--meat {
  background-color: rgb(209, 231, 254);
  color: rgb(2, 57, 184);
}

.default-label {
  background: #000;
  color: #fff;
}

.card__descr {
  color: gray;
  font-size: 14px;
  line-clamp: 2;
  margin-bottom: 25px;
}

.card__details {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: orange;
  margin-bottom: 16px;
  margin-top: auto;
}

.card__button {
  @apply w-full bg-orange-600 text-white px-4 py-2 rounded hover:bg-green-700 transition-colors
}

.category__title {
  @apply text-2xl font-semibold mb-4
}

.page__bottom {
  @apply mt-8 text-center;
}

.page__link-back {
  @apply font-bold text-yellow-300 hover:text-green-800;
}







